<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Custom styles for this template -->
        {% bootstrap_css %}
        <link href="/static/labweb/css1/mybase.css" rel="stylesheet">
        {% block extra_head %} {% endblock %}
    </head>
    <!-- body -->
    <body>
       <div class="container" id="pagetop">
          <div class="row theader">
			  <div class="logo">
		        <img src="/static/labweb/image/insun2.bmp" class="img-responsive" alt="Responsive image">
			  </div>
		      <nav class="navbar" role="navigation">
			      <ul class="nav nav-justified">
					  <li class="active"><a href="#">首页</a></li>
					  <li><a href="#">新闻公告</a></li>
					  <li><a href="#">承担项目</a></li>
					  <li><a href="#">发表论文</a></li>
					  <li><a href="#">成员简介</a></li>
					  <li><a href="#">学术活动</a></li>
				   </ul>
		       </nav>
          </div>
          <!-- Example row of columns -->
          <div class="row" id="mid-part">
             {% block maincontent %}
             {% endblock %}
          </div>
          <!-- footer --> 
          <div class="row" id="footer">
               <div class="col-sm-9 col-md-10">
				   <p class="">&nbsp&nbsp&nbsp&nbsp通讯地址：哈尔滨工业大学319信箱，邮编：150001 &nbsp&nbsp&nbsp&nbsp
		           <span class="glyphicon glyphicon-phone-alt"></span>&nbsp&nbsp 0451-86413322 </p>
				   <p>&nbsp&nbsp&nbsp&nbsp办公地址：哈尔滨工业大学一校区新技术楼612室 &nbsp&nbsp&nbsp&nbsp 
		           <span class="glyphicon glyphicon-envelope"></span>&nbsp&nbsp liubq@insun.hit.edu.cn</p>
               </div>
               <div class="col-sm-3 col-md-2">
                    <a href="#pagetop" style="font-size:30px;color:#fff;"><span class="glyphicon glyphicon-upload"></span></a>
			   </div>
           </div>
           <div class="row" id="footer">
               <div class="col-sm-12 col-md-12">
                  <p>&nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-copyright-mark"></span>
                      <span class="copyright">&nbsp&nbsp Intelligent Technology & Natural Language Processing</span>
		              <span id="date" class="time">
						  <script>document.getElementById('date').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);</script>
					   </span>
                   </p>
               </div>
              </div>
          </div>
         
       </div> <!-- /container -->
    </body>  
</html>
