{% extends "base.html" %}

{% block maincontent %}
<div class="row">
	<div class="span8">
		<h2>简介</h2>
		<p>
        作为浙江联通互联网最重要的品牌，宽带IP网络承载了浙江联通绝大多数宽带网用户、信息源和互联网流量，也面临日益增多的网络安全攻击。浙江联通相关负责人表示，网络安全攻击类型越来越多，攻击方式也越来越复杂，单靠手动方式无法抵御，同时各类门户网站、政府网站对网络安全越来越重视，为保证业务和用户的健康迅速发展，浙江联通迫切需要高性能的异常流量检测与清洗设备加强整网安全防护。

    经过全方位的对比，浙江联通最终选择了迪普科技异常流量清洗解决方案，在杭州、温州、湖州、嘉兴部署大容量异常流量清洗设备，并将异常流量检测设备部署在杭州。

    据迪普科技负责人介绍，迪普科技异常流量清洗解决方案为浙江联通带来了极大的价值提升：

    一、满足未来业务发展需求。浙江联通城域网流量较大，每天需要清洗的攻击流量非常高。迪普科技异常流量清洗系统可实现单槽位40Gbps，整机400Gbps异常流量清洗能力，是目前业界性能领先的异常流量清洗产品，能够很好地满足浙江联通未来业务发展的需要。

    二、降低运维难度与风险。在传统的解决方案中，清洗后的流量采用策略路由方式进行回注，该方式需在核心路由器上配置大量策略路由，增加运维难度和风险。迪普科技异常流量清洗系统将清洗功能与MPLS回注结合在一起，在对攻击流量牵引、清洗及回注的整个过程只需对清洗设备进行一次操作即可，大大降低了运维压力。
        </p>
	</div>
</div>
{% endblock %}
