{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load dict_extras %}

{% block maincontent %}

<div class="row">
    <!--<h3>监控日志</h3>-->
    <table class="table table-hover">
        <thead>
           <tr>
               <th> 日志类型 </th>
               <th> Severity </th>
               <th> Time </th>
               <th> DeviceId </th>
               <th> LocalIP </th>
           </tr>
        </thead>
        <tbody>
           {% for mlog in mlogs %}
           <tr>
               <td>{{ mlog|getDictValue:'logtype' }}</td>
               <td>{{ mlog|getDictValue:'severity' }}</td>
               <td>{{ mlog|getDictValue:'time' }}</td>
               <td>{{ mlog|getDictValue:'device_id' }}</td>
               {% if 'login_ip' in mlog %}
               <td>{{ mlog|getDictValue:'login_ip' }}</td>
               </tr>
               {% endif %}
               {% if 'get_virus_device_ip' in mlog %}
               <td>感染IP:{{ mlog|getDictValue:'get_virus_device_ip' }}</td>
               </tr>
               <tr>
                   <td></td>
                   <td>{{ mlog|getDictValue:'danger_type' }} </td>
                   <td>{{ mlog|getDictValue:'threat_type' }} </td>
                   <td>{{ mlog|getDictValue:'virus_name' }} </td>
                   <td>感染源: {{ mlog|getDictValue:'get_virus_device_ip' }}</td>
               </tr>
               {% endif %}
           <!-- </tr> -->
           {% endfor %}
        </tbody>
    </table>
    {% bootstrap_pagination mlogs url="/virusmanagement/monitor?page=1" align="center" size="large" %}
</div>
{% endblock %}
